* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------HOME----------------------*/

body {
    max-width: 1600px;
    margin: 5%;
}



.join {
    display: block;
    font-size: 1.5rem;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #B6D6CC;
    padding: .6rem;
    margin: .7rem;
    text-align: center;
    border-radius: 3%;

}

.formjoin {
    background-color: #B6D6CC;
    margin: 0%;
}

.formjoindisc {
    margin: 0%;
    padding: 0%;
    background-color: white;
    display: flex;
    justify-content: space-between;


}


.join a {
    color: #B6D6CC;
    text-decoration: none;
}

header {
    text-align: right;

}

/*.location {
    color: #005E66;
    font-size: 1.5rem;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #005E66;
    padding: .4rem;
    margin: .5rem;

}*/

/*.banner {

    font-size: 2.5rem;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #005E66;
    padding: .4rem;
    margin: .5rem;
    color: #000000;


}*/

#load {
    font-size: 2.5rem;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #B6D6CC;
    padding: .4rem;
    margin: .5rem;
    color: #FF3A20;
}


h1 {
    color: #141F9A;
    font-family: "Roboto Condensed";
    font-size: xx-large;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

h2 {
    text-align: center;
    margin: 10%;
    font-size: 2rem;
}

h3 {
    margin-top: 10%;
    text-align: center;
}

h4 {
    text-align: left;
}

h5 {
    color: white;
    padding-bottom: 2%;
    font-family: "Light 300 Italic";
    font-size: 1.2rem;
}

.hl {
    border-bottom: 2px solid #141F9A;
    width: 80%;
    margin: 10%;
}

.ribbon {
    width: 60px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: -25px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: #141F9A;
    color: white;

}

.btn {
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #141F9A;
    color: white;
    position: relative;
}

#events {
    margin-top: 10px;
}

.forecast,
.fforecast,
.fforecast3 {
    color: #e5e5e5;
    font-size: 1.5rem;
    background-color: #000000;
    margin-top: 15%;

}

#city,
#description,
#temperature {
    text-align: center;
}


#forecast {

    display: flex;
    flex-direction: column;
    margin: 20%;
    padding: 10%;
    border-bottom: 2px solid #0b3435;
    border-top: 2px solid #0b3435;

}

#forecast p {

    text-align: center;
    font-size: 1.5rem;
}

li a {
    font-family: 'Roboto', sans-serif;
    color: #0b3435;
    text-decoration: none;
    padding: .3rem;
    background-color: #EDF6F9;
    text-align: center;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #141F9A;
    padding: .6rem;
    margin: .7rem;

}

.spotlights {
    font-size: large;
    margin-bottom: 5%;
}


.social {
    background-color: #141F9A;
    padding: 50px 50px;
    display: flex;
    justify-content: flex-end;


}


footer p {
    font-size: 1.2rem;
    font-family: "Light 300 Italic";
    background-color: #141F9A;
    text-align: left;
    color: white;
    margin-left: 1%;
    padding-bottom: 2%;
}

footer {
    background-color: #141F9A;
    padding: 2%;
    color: white;
}

#hero-img {
    width: 100%;
}


#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;

}


#hero-msg {
    grid-column: 1/4;
    grid-row: 3/4;
    margin-top: 1px;
    padding-top: 1px;
}



nav .navigation {
    padding: .5rem;
    display: block;
    max-width: 1600px;


}

.navigation {

    list-style-type: none;
    margin: auto;
    max-width: 1600px;
    text-align: center;
    font-size: 1.5rem;
}



.navigation li {
    display: none;
}


.open li {
    display: block;
    width: 100%;

}

.open li a {
    display: block;

}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;

}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

main div img {
    max-width: 80%;
    height: auto;
}

div,
section {

    text-align: center;
}



main p {
    text-align: left;

}

#titlefore {
    color: #FF3A20;
    margin-bottom: 0%;
    margin-top: 10%;
}

.pwheather {
    background-color: rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    font-size: large;
    text-align: center;
}

/*-----------------DISCOVER-------------------------------------*/

.demographics {
    background-color: #B6D6CC;
    padding: 10%;
    margin-bottom: 10%;
}

.discover {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

#visits {
    text-align: right;
}

.imagesvm h2,
h3,
h4 {
    text-align: center;
}

.imagesvm p {
    text-align: center;
    font-size: 1rem;
    margin: 3%;
}

.imagesvm img:hover {
    box-shadow: 0 0 50px #0b3435;
}

.social img {

    padding: 0%;
    width: 40px;
    height: auto;

}

.liner {
    border-top: 1px solid #abd1d5;
    margin-bottom: 2%;

}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*---------FORM--------*/

.mainform {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
}



/*.formdiv {
    grid-column: 2/3;
}
*/


fieldset label {
    display: block;
    padding: 1%;

}

label {
    display: block;
    padding: 1%;
    text-align: left;
    font-size: 1.5rem;
}

fieldset {
    width: 94%;
    max-width: 800px;
    margin: 1rem 2% 2rem 2%;

}


.submit {
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: 1rem 0% 2rem 0%;
    width: 96%;
    max-width: 630px;

}

.descrip {
    text-align: left;
    font-size: 3rem;


}

input#email {
    font-size: 1.5rem;
    padding: 3%;
}

input#name,
input#lastname,
input#position,
input#phone,
input#org,
input#description {
    font-size: 2rem;
    margin: 1%;

}

#name,
#lastname,
#position,
#phone,
#email,
#org {
    display: block;
    padding: 1%;
    width: 96%;

}

.formh4 {
    font-size: 1.5rem;
    font-family: "Roboto Condensed";
    text-align: center;
    color: #ed5b07;
    margin: 5%;
}

#text {
    width: 95%;
    max-width: 900px;
    margin: 1rem 10% 1rem 2%;


}

.gold img {
    border-radius: 2rem;
    width: 80%;
}




form {
    margin: 3%;
    padding: 3%;
    width: 96%;
    border-radius: .5rem;
    background-color: #EDF6F9;
}

#record {

    font-size: 3rem;
    margin: 10%;

}

#hidd {
    color: black;
}

.cinema,
.cinema1,
.cinema2 {
    border-style: groove;
    width: 90%;
    height: auto;
    margin-left: 2%;
}

.cinema img,
.cinema1 img,
.cinema2 img {
    width: 90%;
    height: auto;
}

.cinema h4,
.cinema1 h4,
.cinema2 h4 {
    font-size: 1rem;
    margin: 5%;
}

.container2 {
    margin: 8%;
}

.container2 h2 {
    color: rgb(233, 106, 2);

}

/*---------- DIRECTORY------------*/
#grid {
    background-color: #005E66;
    border: none;
    color: white;
    padding: 0%;
    text-align: center;
    display: inline-block;
    font-size: 2rem;
    margin: 0%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 30%;
}

#grid:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#list:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



#list {
    background-color: #005E66;
    border: none;
    color: white;
    padding: 0%;
    text-align: center;
    display: inline-block;
    font-size: 2rem;
    margin: 0%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 30%;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    margin-top: 10%;
    margin-bottom: 10%;
    align-self: center;
    align-content: center;
    word-wrap: break-word;

}

#grid a {
    font-size: .5rem
}

a.amemb {
    text-align: center;
    font-size: .5rem;
    word-wrap: break-word;
    padding-top: 5%;

}




main.directory {
    max-width: 1000px;
}

section.memb {
    margin: 10%;
    padding: 10%;
    border-style: dashed;

}

section.memb:hover {
    background-color: #abd1d5;

}

.directorymenu {
    font-size: 3rem;
}

div .directorymenu {

    text-align: center;
    display: flex;

}

.list img {
    display: none;

}

.list section.memb {
    /*border-style: none;*/
    border: 1px solid;
}

.list section:nth-child(even) {
    background-color: var(--zebra);
}


.list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0%;
    padding: 0%;
}

.list #cards {
    display: flex;
    flex-direction: column;
}


.list h2 {
    font-size: .5rem;
    text-align: center;

}

.list p {
    font-size: .5rem;
    text-align: center;
    padding-top: 1rem;
}


#overlay {
    position: fixed;
    font-size: large;
    background-color: white;
    border-bottom: 1px solid;
    color: black;
    width: 100%;
    height: 12%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    padding: 3%;

}

#cross {
    text-align: right;
    color: #0b3435;
}

.on {
    margin-top: 1%;
}

fieldset legend {
    padding-left: 0.5%;
}