* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {

    font-family: 'Assistant', sans-serif;

}

header {
    background-color: #01375D;
    padding: 10px;
    font-size: 1.5rem;
    color: white;

}

.navigation {
    background-color: #101010;
    list-style-type: none;
    margin: auto;
    max-width: 1600px;
    text-align: center;
    font-size: 1.5rem;
}

nav .navigation {
    padding: .5rem;
    display: block;
    align-items: center;
}

.active {
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    padding: .5rem;
}

.navigation li a {
    color: white;
}


body {
    background-color: white;
    margin: 5px;
}


nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    display: block;
    padding: .5rem;

}

h1 {
    margin-left: 30px;
    font-size: 2rem;
    box-shadow: 0px 1.5px #01375D;
    margin: 2vw;

}

.card {
    border-radius: 8px;
    margin: 2rem 2vw;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #7a7d94;
    text-align: center;
    overflow: hidden;
}

.card1 {
    text-align: left;
    border-radius: 8px;
    margin: 2rem 2vw;
    overflow: hidden;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #7a7d94;
}

h2 {

    padding: .75rem 0;
    border-radius: 10px;
    display: block;
    text-align: center;
    background-color: #01375D;
    color: white;

}

footer {
    text-align: center;
    background-color: #01375D;
    color: #f5f4f3;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: rgb(16, 16, 16);

}

.navigation li a {
    text-decoration: none;
}