#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));


}

body {
    background-color: rgb(218, 226, 235);
    margin: 5% 10% 10% 10%;
}


h2 {
    text-align: center;
    color: #0f0346;
}

p {
    text-align: center;
    color: #110332;

}

h1 {
    text-align: center;
    color: #130334;
    box-shadow: 1px 1px 1px 1px;
}

img {
    margin: 5%;
    border: 10px solid #7e7777;
}